# This file is described here:  https://help.github.com/en/articles/about-code-owners

# Global Owners: These members are Core Maintainers of signy
CODEOWNERS      @radu-matei @trishankatdatadog @carolynvs
LICENSE         @radu-matei @trishankatdatadog @carolynvs
CONTRIBUTING.md @radu-matei @trishankatdatadog @carolynvs
GOVERNANCE.md   @radu-matei @trishankatdatadog @carolynvs
